body {
    background-color:grey; 
    margin: 0 auto; 
    max-width: 1440px; 
  }
  
  h2 {
    font-family: 'YourFont1', sans-serif;
  }
  
  h3 {
    font-family: 'YourFont2', sans-serif;
  }
  
  a {
    color: black;
    text-decoration: none; 
  }
  
  ul {
    list-style-type: none; 
  }
  .firstDescription{
    text-align:justify;
  }
  .secondDescription{
  text-align:center;
  }
  .thirdDescription{
    text-align: right;
  }
  .firstFilm{
    font-family: 'Unutterable Italic';
   
}
.secondFilm{
  font-family: 'zxc';
  font-size: large;
}
.fhirdFilm{
  font-family: 'zxc';
  font-size: large;
}
   img {
    width: 430px;
    height: 300px;
    border: 1px solid black;
    border-radius: 40px;
}
.bold {
  font-weight: bold; 
}
@font-face {
  font-family: 'Unutterable Italic';
  src: url('fonts/ofont.ru_Unutterable.ttf');
}
@font-face {
  font-family: 'zxc';
  src: url('fonts/ofont.ru_Brahms\ Gotisch\ \(1\).ttf');
}
@font-face {
  font-family: 'asd';
  src: url('fonts/ofont.ru_Hirmos\ Caps\ ieUcs.ttf');
}